<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo App</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}">
</head>
<body>
<div class="min-vh-100">
    <header>

    </header>
    <main>
        <div class="container" th:replace="::content">

        </div>
    </main>
</div>
<div>

</div>
<script th:src="@{js/bootstrap.js}"></script>
</body>
</html>